.contact-form {
    margin: 5px 10px;
    width: 400px;
}
.delete-btn.invisible {
    display: none;
}
button {
    margin: 5px;
}
input {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 600px;
    height: 20px;
    border: black 1px solid;
}
